<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_world" args="1.131 -0.101 1.35 0 0 0 /odom /world" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_velodyne" args="1.2 0 2 -2.15 0 0 /base_link /velodyne" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="1.131 -0.101 1.35 0 0 0 /base_link /imu" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_to_can0" args="-0.25 0.1 -0.65 2.77 0 0 /velodyne /esr_can0_frame" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_to_can1" args="-0.15 0.25 -0.65 2.15 0 0 /velodyne /esr_can1_frame" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_to_can2" args="0 0.25 -0.65 1.375 0 0 /velodyne /esr_can2_frame" />
</launch>